:import("../colors.css") {
  DARKGREY: DARKGREY;
  LIGHTBLACK2: LIGHTBLACK2;
  WHITE2: WHITE2;
}

.input {
  background: LIGHTBLACK2;
  border: 1px solid LIGHTBLACK2;
  box-sizing: border-box;
  color: WHITE2;
  font-size: 14px;
  padding: 3px;
  width: 100%;
}

.input:focus {
  border-color: DARKGREY;
}
