:export {
  WHITE: #E8E8E3;
  WHITE2: #d8d8d3;
  BLACK: #272822;
  LIGHTBLACK: #2D2E27;
  LIGHTBLACK2: #383a3e;
  LIGHTBLACK3: #3f4145;
  DARKBLACK: #211F1C;
  GREY: #8F908A;
  LIGHTGREY: #575b61;
  DARKGREY: #64645e;
  WARMGREY: #75715E;

  PINK: #F92772;
  GREEN: #A6E22D;
  AQUA: #66d9ef;
  YELLOW: #E6DB74;
  ORANGE: #FD9720;
  PURPLE: #ae81ff;
  RED: #e73c50;
  PURERED: #ff0000;
  DARKRED: #5f0000;

  ADDFG: #d7ffaf;
  ADDBG: #5f875f;
  DELBG: #f75f5f;
  CHANGEFG: #d7d7ff;
  CHANGEBG: #5f5f87;

  CYAN: #A1EFE4;
  BR_GREEN: #9EC400;
  BR_YELLOW: #E7C547;
  BR_BLUE: #7AA6DA;
  BR_PURPLE: #B77EE0;
  BR_CYAN: #54CED6;
  BR_WHITE: #FFFFFF;
}
