:import("./colors.css") {
  BLACK_1: BLACK_1;
  DARKGREY_1: DARKGREY_1;
}

.scrollbar {
  scrollbar-color: DARKGREY_1 BLACK_1;
}

.scrollbar::-webkit-scrollbar {
  width: 0.75em;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: BLACK_1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: DARKGREY_1;
}
