:import("../../colors.css") {
  BLACK_1: BLACK_1;
  DARKBLACK: DARKBLACK;
  LIGHTBLACK: LIGHTBLACK;
  WHITE_1: WHITE_1;
}

.button {
  background: LIGHTBLACK;
  border: 0;
  color: WHITE_1;
  cursor: pointer;
  padding: 10px 16px;
}

.button:hover {
  background: BLACK_1;
}

.selected {
  background: DARKBLACK;
}

.selected:hover {
  background: DARKBLACK;
}
