:import("../../colors.css") {
  BLACK: BLACK;
  GREY: GREY;
  WHITE: WHITE;
}

.container {
  background: BLACK;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header {
  height: 25px;
}

.timeline-container {
  flex-grow: 1;
  position: relative;
}

.account-tabs-container {
  display: flex;
  flex-direction: row;
}

.add-button {
  background: transparent;
  border: 0;
  color: GREY;
  cursor: pointer;
  padding: 0 16px;
}

.add-button:hover {
  color: WHITE;
}
