:import("../../colors.css") {
  BLACK: BLACK;
}

.container {
  background: BLACK;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header {
  height: 25px;
}

.timeline-container {
  flex-grow: 1;
  position: relative;
}
